.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
}

main {
    margin: 0 auto;
    min-height: 70vh;
    min-width: 90vw;
    position: relative;
}

footer {
    position: absolute;
    bottom: -2vh;
    width: 100%;
    height: 0;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-bottom: 2vh;
    }
}
